[user]
  email = 81518066+ArR4e@users.noreply.github.com
  name = Artur Aleksander Kanošin
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
                                                                                                                                                
